/*====================================== reset.css is here ========================================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
*:after,
*:before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}
ol,
ul {
  list-style: none;
}
caption,
th {
  text-align: center;
}

q:before,
q:after {
  content: "";
}
abbr,
acronym {
  border: 0;
}
.clear {
  clear: both;
  font-size: 1px;
  line-height: 1px;
  display: block;
  height: 0;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
.last {
  margin: 0 !important;
}
.pad_last {
  padding: 0 !important;
}
.no_bg {
  background: none !important;
}
.no_bor {
  border: 0 none !important;
}
header,
nav,
section,
article,
aside,
footer,
hgroup,
figure {
  display: block;
}
/**************************************************************************************/
a {
  color: #000;
  text-decoration: none;
  outline: 0 none !important;
}
a:hover,
a:focus {
  color: #000;
  text-decoration: none;
  outline: 0 none !important;
}
h1 {
  font-size: 50px;
  line-height: 1.1;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 30px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 16px;
}
h6 {
  font-size: 10px;
}
/*---------------------------------------------------*/
/* html {

} */

body {
  font-weight: 300;
  color: #333333;
  font-size: 16px;
  /* background-color: #fff; */
  font-family: "Graphik-Regular";
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

/*-----------LayOut Start here-----------------------*/
.wrapper {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  padding-top: 120px;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
}

p {
  font-size: 18px;
  color: #666666;
  line-height: 35px;
  margin-bottom: 0;
}

/* -------Don't Remove this---------------*/
input,
textarea,
button,
select {
  /*-webkit-appearance:noneSafari/Chrome*/
  -moz-appearance: none; /*Firefox*/
  -ms-appearance: none; /*IE*/
  -o-appearance: none; /*Opera*/
  appearance: none;
  /* -webkit-border-radius: 0; */
}

/* -------custom CSS---------------*/
.btn_array {
  height: 38px;
  margin: 20px 0px 0px 0px;
}

/* Open Nav And Close Nav Css */
.nav_head {
  background-color: #00829a;
}
.closebtn a:hover {
  text-decoration: none;
}
.icon_space {
  margin: 0px 30px 0px 0px;
}
.image_icon {
  filter: brightness(0) invert(1);
}
.sidenav a p {
  margin: -4px 0px 0px 0px;
  text-align: left;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 56px;
  left: 0;
  background-color: #0a5c74;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

#data_details :hover {
  color: black !important;
  background-color: white;
}
.sidenav a {
  padding: 16px 0px 8px 16px;
  font-size: 20px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 25px;
  margin-left: 50px;
  margin-bottom: 15px;
}

.data_group {
  margin-left: 10%;
}

.img_data {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Form Design  */
.btn_submit {
  margin: 32px 0px 0px 0px;
  width: 100%;
}
.img_css {
  width: 250px;
  height: 250px;
}
.form_div {
  margin: 75px 0px 0px 0px;
}
.image_pos {
  font-size: 24px;
  color: gray;
}

.card_data {
  position: absolute;
  bottom: -10px;
}

/* Slicker side bar css */
.body_data {
  background: linear-gradient(to top right, #c8d2f5, rgb(248, 248, 227));
  background-repeat: no-repeat;
}
.card_data_img {
  height: 30%;
  object-fit: contain;
}

.first_word_underline {
  border-bottom: 8px salmon;
}

.card_title_css {
  font-family: "Bebas Neue", cursive;
  color: #919191;
}
.card_body_css {
  padding: 14px 14px 0px 14px;
}
.img_rounded {
  border-radius: 15px;
  height: 230px;
  width: 220px;
  object-fit: cover;
  align-items: center;
  box-shadow: 0px 10px 25px 0px grey;
  position: relative;
}
.card_title_css {
  margin: 0px 0px -15px 0px;
}
.card_title2_css {
  font-family: "Bebas Neue", cursive;
  font-family: "Cabin", sans-serif;
  font-family: "Mulish", sans-serif;
  color: rgb(63, 61, 61);
  font-weight: bold;
  font-size: 18px;
}
.headding_css {
  font-family: "Bebas Neue", cursive;
  font-family: "Cabin", sans-serif;
  font-family: "Mulish", sans-serif;
}
.card_title_css::first-letter {
  border-bottom: 5px solid #ef789b;
}
/* .span_underline {
  visibility: hidden;
  border-bottom: 2px solid black;
  text-decoration: underline;
} */

.card_deck_data {
  border-radius: 10px;
  position: relative;
  width: 18rem !important;
  height: 28rem;
  display: inline-block;
}

.footer_icons {
  margin: 0px 10px 0px 10px;
  font-size: 18px;
  border: none;
}

.student_id {
  margin: 0px;
}
.slick-slide {
  width: 300px;
}

.slick-arrow {
  display: none !important;
}

.headings_css {
  margin: 60px 0px 0px 20px;
}
